$primary: #1677ff;
$secondary: #ff5255;

.contact-card {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 1rem 1rem 2rem rgba($color: #000000, $alpha: 0.1);

  h3 {
    font-size: 1.1rem;
  }

  p {
    color: rgba($color: #000000, $alpha: 0.5);
  }

  &--buttons {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;

    button {
      width: 35%;
      padding: 0.4rem 0;
      color: whitesmoke;
    }

    .card--buttons__delete {
      background-color: transparent;
      outline: 1px solid $secondary;
      color: $secondary;
    }
    
    .card--buttons__edit {
      background-color: transparent;
      outline: 1px solid $primary;
      color: $primary;
    }
  }
}
