$primary: #1677ff;

.link {
  padding: 0.4rem 1rem;
  background-color: $primary;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 4px;
}

.home-section {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  place-content: center;
  gap: 2rem;
}

.loading {
  text-align: center;
  grid-column: 2 / 3;
}
